body {
  text-align: center;
  background-color: #393E46;
}

h1 {
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
  margin: 30px;

}

h3 {
  padding: 50px;
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}
.table {
  margin: auto;
}

.footer {

  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

.dice1, .dice2 {
  padding: 50px;
}
